# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

[openshell]
version = 2

[openshell.gateway]
bind_address = "{{ openshell_gateway_bind_address }}"
compute_driver = "{{ openshell_gateway_driver }}"
disable_tls = true
log_level = "debug"

[openshell.gateway.auth]
allow_unauthenticated_users = true

[openshell.gateway.gateway_jwt]
signing_key_path = "/var/lib/openshell/pki/jwt/signing.pem"
public_key_path = "/var/lib/openshell/pki/jwt/public.pem"
kid_path = "/var/lib/openshell/pki/jwt/kid"
gateway_id = "tmachine"

{% block driver %}{% endblock %}
